fgsms-common-interfaces/src/main/resources/ARSv1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="urn:org:miloss:fgsms:services:interfaces:automatedReportingService" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:faults="urn:org:miloss:fgsms:services:interfaces:faults" xmlns:common="urn:org:miloss:fgsms:services:interfaces:common" xmlns:pcs="urn:org:miloss:fgsms:services:interfaces:policyConfiguration" xmlns:rs="urn:org:miloss:fgsms:services:interfaces:reportingService" xmlns:opstat="urn:org:miloss:fgsms:services:interfaces:opstatus" name="ReportingService" targetNamespace="urn:org:miloss:fgsms:services:interfaces:automatedReportingService">
	<wsdl:documentation>fgsms Automated Reporting Service. UNCLASSIFIED

	</wsdl:documentation>
	<wsdl:import namespace="urn:org:miloss:fgsms:services:interfaces:opstatus" location="operatingstatusA.wsdl"/>
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:org:miloss:fgsms:services:interfaces:faults">
			<xs:import schemaLocation="faults.xsd" namespace="urn:org:miloss:fgsms:services:interfaces:faults"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:org:miloss:fgsms:services:interfaces:policyConfiguration">
			<xs:import schemaLocation="PCS8.xsd" namespace="urn:org:miloss:fgsms:services:interfaces:policyConfiguration"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:org:miloss:fgsms:services:interfaces:reportingService">
			<xs:import schemaLocation="RSv6.xsd" namespace="urn:org:miloss:fgsms:services:interfaces:reportingService"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:org:miloss:fgsms:services:interfaces:automatedReportingService">
			<xs:import schemaLocation="ARSv1.xsd" namespace="urn:org:miloss:fgsms:services:interfaces:automatedReportingService"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="AutomatedReportingService_GetMyScheduledReports_InputMessage">
		<wsdl:part name="parameters" element="tns:GetMyScheduledReports"/>
	</wsdl:message>
	<wsdl:message name="AutomatedReportingService_GetMyScheduledReports_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetMyScheduledReportsResponse"/>
	</wsdl:message>
	<wsdl:message name="AutomatedReportingService_AddOrUpdateScheduledReport_InputMessage">
		<wsdl:part name="parameters" element="tns:AddOrUpdateScheduledReport"/>
	</wsdl:message>
	<wsdl:message name="AutomatedReportingService_AddOrUpdateScheduledReport_OutputMessage">
		<wsdl:part name="parameters" element="tns:AddOrUpdateScheduledReportResponse"/>
	</wsdl:message>
	<wsdl:message name="AutomatedReportingService_DeleteScheduledReport_InputMessage">
		<wsdl:part name="parameters" element="tns:DeleteScheduledReport"/>
	</wsdl:message>
	<wsdl:message name="AutomatedReportingService_DeleteScheduledReport_OutputMessage">
		<wsdl:part name="parameters" element="tns:DeleteScheduledReportResponse"/>
	</wsdl:message>
	<wsdl:message name="AutomatedReportingService_GetReport_InputMessage">
		<wsdl:part name="parameters" element="tns:GetReport"/>
	</wsdl:message>
	<wsdl:message name="AutomatedReportingService_GetReport_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetReportResponse"/>
	</wsdl:message>
	<wsdl:message name="AutomatedReportingService_DeleteReport_InputMessage">
		<wsdl:part name="parameters" element="tns:DeleteReport"/>
	</wsdl:message>
	<wsdl:message name="AutomatedReportingService_DeleteReport_OutputMessage">
		<wsdl:part name="parameters" element="tns:DeleteReportResponse"/>
	</wsdl:message>
	<wsdl:message name="ServiceUnavailableException">
		<wsdl:part name="detail" element="faults:ServiceUnavailableException"/>
	</wsdl:message>
	<wsdl:message name="AccessDeniedException">
		<wsdl:part name="detail" element="faults:AccessDeniedException"/>
	</wsdl:message>
	<wsdl:portType name="automatedReportingService">
		<wsdl:documentation>Reporting Service Port Type</wsdl:documentation>
		<wsdl:operation name="GetMyScheduledReports">
			<wsdl:documentation>Gets a list of jobs owned by the current user and a list of recently generated reports</wsdl:documentation>
			<wsdl:input message="tns:AutomatedReportingService_GetMyScheduledReports_InputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/GetMyScheduledReports"/>
			<wsdl:output message="tns:AutomatedReportingService_GetMyScheduledReports_OutputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/GetMyScheduledReportsResponse"/>
			<wsdl:fault name="ServiceUnavailableExceptionFault" message="tns:ServiceUnavailableException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/ServiceUnavailableExceptionFault"/>
			<wsdl:fault name="AccessDeniedExceptionFault" message="tns:AccessDeniedException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/AccessDeniedExceptionFault"/>
		</wsdl:operation>
		<wsdl:operation name="AddOrUpdateScheduledReport">
			<wsdl:documentation>
				</wsdl:documentation>
			<wsdl:input message="tns:AutomatedReportingService_AddOrUpdateScheduledReport_InputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/AddOrUpdateScheduledReport"/>
			<wsdl:output message="tns:AutomatedReportingService_AddOrUpdateScheduledReport_OutputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/AddOrUpdateScheduledReportResponse"/>
			<wsdl:fault name="ServiceUnavailableExceptionFault" message="tns:ServiceUnavailableException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/ServiceUnavailableExceptionFault"/>
			<wsdl:fault name="AccessDeniedExceptionFault" message="tns:AccessDeniedException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/AccessDeniedExceptionFault"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteScheduledReport">
			<wsdl:documentation>
			This will delete the job AND all reports associated with the job
				</wsdl:documentation>
			<wsdl:input message="tns:AutomatedReportingService_DeleteScheduledReport_InputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/DeleteScheduledReport"/>
			<wsdl:output message="tns:AutomatedReportingService_DeleteScheduledReport_OutputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/DeleteScheduledReportResponse"/>
			<wsdl:fault name="ServiceUnavailableExceptionFault" message="tns:ServiceUnavailableException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/ServiceUnavailableExceptionFault"/>
			<wsdl:fault name="AccessDeniedExceptionFault" message="tns:AccessDeniedException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/AccessDeniedExceptionFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetReport">
			<wsdl:documentation>Gets a specific generated report
				</wsdl:documentation>
			<wsdl:input message="tns:AutomatedReportingService_GetReport_InputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/GetReport"/>
			<wsdl:output message="tns:AutomatedReportingService_GetReport_OutputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/GetReportResponse"/>
			<wsdl:fault name="ServiceUnavailableExceptionFault" message="tns:ServiceUnavailableException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/ServiceUnavailableExceptionFault"/>
			<wsdl:fault name="AccessDeniedExceptionFault" message="tns:AccessDeniedException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/AccessDeniedExceptionFault"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteReport">
			<wsdl:documentation>
			Deletes a generated report
				</wsdl:documentation>
			<wsdl:input message="tns:AutomatedReportingService_DeleteReport_InputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/DeleteReport"/>
			<wsdl:output message="tns:AutomatedReportingService_DeleteReport_OutputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/DeleteReportResponse"/>
			<wsdl:fault name="ServiceUnavailableExceptionFault" message="tns:ServiceUnavailableException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/ServiceUnavailableExceptionFault"/>
			<wsdl:fault name="AccessDeniedExceptionFault" message="tns:AccessDeniedException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/AccessDeniedExceptionFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomBinding_reportingService" type="tns:automatedReportingService">
		<wsdl:documentation>Automated Reporting Service Binding</wsdl:documentation>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetMyScheduledReports">
			<soap:operation soapAction="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/GetMyScheduledReports" style="document" soapActionRequired=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceUnavailableExceptionFault">
				<soap:fault name="ServiceUnavailableExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="AccessDeniedExceptionFault">
				<soap:fault name="AccessDeniedExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AddOrUpdateScheduledReport">
			<soap:operation soapAction="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/AddOrUpdateScheduledReport" style="document" soapActionRequired=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceUnavailableExceptionFault">
				<soap:fault name="ServiceUnavailableExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="AccessDeniedExceptionFault">
				<soap:fault name="AccessDeniedExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteScheduledReport">
			<soap:operation soapAction="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/DeleteScheduledReport" style="document" soapActionRequired=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceUnavailableExceptionFault">
				<soap:fault name="ServiceUnavailableExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="AccessDeniedExceptionFault">
				<soap:fault name="AccessDeniedExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetReport">
			<soap:operation soapAction="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/GetReport" style="document" soapActionRequired=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceUnavailableExceptionFault">
				<soap:fault name="ServiceUnavailableExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="AccessDeniedExceptionFault">
				<soap:fault name="AccessDeniedExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteReport">
			<soap:operation soapAction="urn:org:miloss:fgsms:services:interfaces:automatedReportingService/DeleteReport" style="document" soapActionRequired=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceUnavailableExceptionFault">
				<soap:fault name="ServiceUnavailableExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="AccessDeniedExceptionFault">
				<soap:fault name="AccessDeniedExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AutomatedReportingService">
		<wsdl:documentation>Automated Reporting Service </wsdl:documentation>
		<wsdl:port name="automatedReportingServicePort" binding="tns:CustomBinding_reportingService">
			<wsdl:documentation>Automated Reporting Service Port</wsdl:documentation>
			<soap:address location="http://localhost:8080/fgsmsServices/ARS"/>
		</wsdl:port>
		<wsdl:port name="opStatusServiceBinding" binding="opstat:opStatusServiceBinding">
			<soap:address location="http://localhost:8080/fgsmsServices/SS"/>
		</wsdl:port>
	</wsdl:service>
	<!-- *********************************************************************** -->
	<!--                                UNCLASSIFIED                             -->
	<!--                                Created by AO, *                             -->
	<!--                                https://github.com/mil-oss/fgsms                             -->
	<!-- *********************************************************************** -->
</wsdl:definitions>
