fgsms-common-interfaces/src/main/resources/RemoteAgentCallback.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="urn:org:miloss:fgsms:services:interfaces:agentCallbackService" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:faults="urn:org:miloss:fgsms:services:interfaces:faults" xmlns:common="urn:org:miloss:fgsms:services:interfaces:common" xmlns:ns="urn:us:gov:ic:ism:v2" name="RemoteAgentCallbackService" targetNamespace="urn:org:miloss:fgsms:services:interfaces:agentCallbackService">
	<wsdl:documentation>fgsms Remote Agent Callback Service. UNCLASSIFIED
Used with fgsms RC7
	</wsdl:documentation>
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:org:miloss:fgsms:services:interfaces:faults">
			<xs:import schemaLocation="faults.xsd" namespace="urn:org:miloss:fgsms:services:interfaces:faults"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:org:miloss:fgsms:services:interfaces:agentCallbackService">
			<xs:import schemaLocation="RemoteAgentCallback.xsd" namespace="urn:org:miloss:fgsms:services:interfaces:agentCallbackService"/>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:org:miloss:fgsms:services:interfaces:agentCallbackService">
			<xs:import schemaLocation="RemoteAgentCallback.xsd" namespace="urn:org:miloss:fgsms:services:interfaces:agentCallbackService"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="RemoteActionCallbackService_ExecuteTasks_InputMessage">
		<wsdl:part name="parameters" element="tns:ExecuteTasks"/>
	</wsdl:message>
	<wsdl:message name="RemoteActionCallbackService_ExecuteTasks_OutputMessage">
		<wsdl:part name="parameters" element="tns:ExecuteTasksResponse"/>
	</wsdl:message>
	<wsdl:message name="RemoteActionCallbackService_GetOperatingStatus_InputMessage">
		<wsdl:part name="parameters" element="common:GetOperatingStatus"/>
	</wsdl:message>
	<wsdl:message name="RemoteActionCallbackService_GetOperatingStatus_OutputMessage">
		<wsdl:part name="parameters" element="common:GetOperatingStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="ServiceUnavailableException">
		<wsdl:part name="detail" element="faults:ServiceUnavailableException"/>
	</wsdl:message>
	<wsdl:message name="AccessDeniedException">
		<wsdl:part name="detail" element="faults:AccessDeniedException"/>
	</wsdl:message>
	<wsdl:portType name="remoteAgentCallbackPort">
		<wsdl:documentation>Remote Agent Callback Port Type</wsdl:documentation>
		<wsdl:operation name="ExecuteTasks">
			<wsdl:documentation>Executes a set of tasks via command line
				</wsdl:documentation>
			<wsdl:input message="tns:RemoteActionCallbackService_ExecuteTasks_InputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:remoteAgentCallbackService/ExecuteTasks"/>
			<wsdl:output message="tns:RemoteActionCallbackService_ExecuteTasks_OutputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:remoteAgentCallbackService/ExecuteTasksResponse"/>
			<wsdl:fault name="ServiceUnavailableExceptionFault" message="tns:ServiceUnavailableException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:remoteAgentCallbackService/ServiceUnavailableExceptionFault"/>
			<wsdl:fault name="AccessDeniedExceptionFault" message="tns:AccessDeniedException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:remoteAgentCallbackService/AccessDeniedExceptionFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetOperatingStatus">
			<wsdl:documentation>
			Gets the operating status of an remove agent
				</wsdl:documentation>
			<wsdl:input message="tns:RemoteActionCallbackService_GetOperatingStatus_InputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:remoteAgentCallbackService/GetOperatingStatus"/>
			<wsdl:output message="tns:RemoteActionCallbackService_GetOperatingStatus_OutputMessage" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:remoteAgentCallbackService/GetOperatingStatusResponse"/>
			<wsdl:fault name="ServiceUnavailableExceptionFault" message="tns:ServiceUnavailableException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:remoteAgentCallbackService/ServiceUnavailableExceptionFault"/>
			<wsdl:fault name="AccessDeniedExceptionFault" message="tns:AccessDeniedException" wsaw:Action="urn:org:miloss:fgsms:services:interfaces:remoteAgentCallbackService/AccessDeniedExceptionFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RemoteAgentCallbackBinding" type="tns:remoteAgentCallbackPort">
		<wsdl:documentation>Remote Agent Callback Binding</wsdl:documentation>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ExecuteTasks">
			<soap:operation soapAction="urn:org:miloss:fgsms:services:interfaces:remoteAgentCallbackService/ExecuteTasks" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceUnavailableExceptionFault">
				<soap:fault name="ServiceUnavailableExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="AccessDeniedExceptionFault">
				<soap:fault name="AccessDeniedExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetOperatingStatus">
			<soap:operation soapAction="urn:org:miloss:fgsms:services:interfaces:remoteAgentCallbackService/GetOperatingStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceUnavailableExceptionFault">
				<soap:fault name="ServiceUnavailableExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="AccessDeniedExceptionFault">
				<soap:fault name="AccessDeniedExceptionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RemoteAgentCallbackService">
		<wsdl:documentation>Remote Agent Callback Service </wsdl:documentation>
		<wsdl:port name="RemoteAgentCallbackServicePort" binding="tns:RemoteAgentCallbackBinding">
			<wsdl:documentation>Remote Agent Callback Port</wsdl:documentation>
			<soap:address location="http://localhost:8080/rac"/>
		</wsdl:port>
	</wsdl:service>
	<!--

		-->
	<!-- *********************************************************************** -->
	<!--                                UNCLASSIFIED                             -->
	<!--                                Created by AO, *                             -->
	<!--                                https://github.com/mil-oss/fgsms                             -->
	<!-- *********************************************************************** -->
</wsdl:definitions>
