fgsms-netagent/Tests/WebServiceTestBed/Service References/JbossESBProxyBasicHelloWorld/HelloWorldWSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice_proxy_basic/helloworld" name="HelloWorldWSService" targetNamespace="http://webservice_proxy_basic/helloworld" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://webservice_proxy_basic/helloworld" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="sayHello" type="tns:sayHello" />
      <xs:element name="sayHelloResponse" type="tns:sayHelloResponse" />
      <xs:complexType name="sayHello">
        <xs:sequence>
          <xs:element minOccurs="0" name="toWhom" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sayHelloResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="HelloWorld_sayHello">
    <part name="sayHello" element="tns:sayHello" />
  </message>
  <message name="HelloWorld_sayHelloResponse">
    <part name="sayHelloResponse" element="tns:sayHelloResponse" />
  </message>
  <portType name="HelloWorld">
    <operation name="sayHello" parameterOrder="sayHello">
      <input message="tns:HelloWorld_sayHello" />
      <output message="tns:HelloWorld_sayHelloResponse" />
    </operation>
  </portType>
  <binding name="HelloWorldBinding" type="tns:HelloWorld">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="sayHello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HelloWorldWSService">
    <port name="HelloWorldPort" binding="tns:HelloWorldBinding">
      <soap:address location="http://127.0.0.1:8080/Quickstart_webservice_proxy_basic_ws/HelloWorldWS" />
    </port>
  </service>
</definitions>